	* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.clear:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.container {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.logo{
  width: 100px;
  height: 100px;
  float: left;
}
.form {
    float: left;
    margin-top: 31px;
    margin-left: 300px;

}
.l1{
	float: left;
	width: 332px;
	height: 12px;
  padding: 13px;
	border: 1px rgba(0,163,255,1) solid;
}
.l2{
   float: left;
   width:50px;
   height:40px;
   border: 1px rgba(0,163,255,1) solid;
   background:rgba(0,163,255,1) url('../images/000.png') no-repeat center center;
}
.form1{
  float: right;
  width: 150px;
  height: 80px;
  margin-top: 10px;
  border: 2px rgba(128,128,128,1) solid;

}
.w1{
  border: 1px green solid;
  width:100px ;
  height: 15px;
  margin-left: 25px;
}
.w2{
  margin-left: 30px;
  margin-top: 10px;
  border: 1px black solid;
  background-color: rgba(128,128,128,0.3);

}
.container1 {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    background-color: rgba(144,238,144,0.5);
}
.nav li{
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  float: left;
}
.nav a:hover{
  font-size: 20px;
  color: orange;
}
.container2 {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
.banner{
  width: 1200px;
  height: 400px;
}
.container4 {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  background-color:rgba(144,238,144,0.3);
}
.m4{
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.container3 {
  width: 1200px;
  height: 230px;
  margin: 0 auto;
}
.m0{
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 10px ;
  margin-right: 10px;
}
.m1{
  position: absolute;
  top: 140px;
  width: 220px;
  height: 60px;
  background-color: rgba(211,211,211,0.5);
}
.m2{
  width: 220px;
  height: 30px;
  color: #050505FF;
  font-size: 14px;

}
.m3{
  width: 220px;
  height: 30px;
  color: #050505FF;
  font-size: 13px;

}
.x1{
  color: red;
  font-size: 20px;
}
.container5 {
  width: 1200px;
  height: 230px;
  margin: 0 auto;
}
.m8{
  float: left;
  position: relative;
}
.m5{
  width: 220px;
  height: 170px;
  margin-top: 10px;
  margin-left: 10px ;
  margin-right: 10px;
}

.m6{
  position: absolute;
  top: 180px;
  left: 10px;
  width: 220px;
  height: 40px;
  background-color: rgba(211,211,211,0.5);
}
.m7{
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}
.container6 {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-color: black;
}
.m9{
  color: white;
  font-size: 13px;
  text-align: center;
  line-height: 28px;
}
.container8{
  width: 1200px;  
  height: 200px;
  margin: 0 auto;
  background-color: rgba(128,128,128,0.8)
}
.k1{
  float: left;
  margin-top:30px ;
  margin-left: 200px;
} 
.k2{
  float: left;
  margin-top:30px ;
  margin-left: 50px;
} 
.k3{
  float: left;
  margin-top:30px ;
  margin-left:50px;
}
.k4{
  float: left;
  margin-top:30px ;
  margin-left:50px;
}      
.q2{
  font-size: 18px;
  font-family: YouYuan;
  color: white;

}
.q4 a{
  font-size: 12px;
  color: white;
}
.weixin{
  width: 100px;
  height: 100px;
  padding-top: 10px;
}
.z1{
  font-size: 11px;
}
.r1{
  float: left;
  width: 300px;
  margin-left: 50px;
  margin-top: 30px;
}
.r2{
  font-size: 18px;
  font-family: YouYuan;
  color: white;
  margin-top: 2px;
}
.r3{
  font-size: 20px;
  color: orange;
}
.r4{
  font-size: 12px;
  color: white;
}